.teamInfoContainer h3 {
  text-align: left;
  margin-block: 3.2rem 1.6rem;
}

.playersContainer {
  display: flex;
  gap: 2.4rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid var(--blue300);
  border-radius: 0.4rem;
  min-width: 16rem;
  padding: 0.8rem 1.6rem;
  transition: border 0.2s ease-in-out;
}

.card:hover {
  border-color: var(--white100);
}

.card p {
  margin: 0;
  line-height: 2.4rem;
}

.formation {
  line-height: 2.4rem;
  text-align: left;
}

@media (max-width: 768px) {
  .playersContainer {
    gap: 1.6rem;
  }
}
